/* 
 * 
 * 
 * 
 * !!!!! BEFORE YOU EDIT THIS FILE !!!!!
 * Please add customizations at the end of this file in the provided space.
 *
 * If you find a CSS rule you wish to change:
 * 1. Copy the whole CSS rule
 * 2. Paste it at the end of this file
 * 3. Edit the copied rule at the bottom of the file (not the original)
 * 4. When this file is used by the Enrollment Site, the copied rule will take precedence
 *    over the original
 *
 * Note: If you are familiar with CSS, you may be able to copy only the specific selector
 * and property you wish to override
 *
 *
 *
 *
 -----------------------------------------------------------------------------------------------------------
 Theme Tool Version: 3.3.0.51
-----------------------------------------------------------------------------------------------------------*/

/* ******************* Tag Selectors ******************* */
a:link, a:visited, a:hover, a:active { color: #959CA1; font-weight: bold; }

a.addPhone, a:addPhone:visited, a:addPhone:hover, a:addPhone:active { color: #959CA1; }

a.form, a.form:visited, a.form:hover, a.form:active { color: #959CA1; }

a.clsButton, a.clsButton:visited, a.clsButton:hover, a.clsButton:active { color: #FFFFFF; }

a.action1, a.action1:visited, a.action1:hover, a.action1:active { color: #959CA1; }
a.action2, a.action2:visited, a.action2:hover, a.action2:active { color: #959CA1; }
a.action3, a.action3:visited, a.action3:hover, a.action3:active { color: #959CA1; }
a.action4, a.action4:visited, a.action4:hover, a.action4:active { color: #959CA1; }
a.action5, a.action5:visited, a.action5:hover, a.action5:active { color: #959CA1; }
a.action_addmobilebanking, a.action_addtextbanking { color: #959CA1 }

BODY
{
    background-color: #EEEEEE;
	font-family: Arial, Geneva, Helvetica, sans-serif;
}

/* ******************* Class Selectors ******************* */
.copyright, .cc_disclaimer
{
	color: #AAAAAA;
}
DIV.copyright, DIV.cc_disclaimer
{
	border-top: 1px solid #CCCCCC;
	background-color: #FCFCFC;
}
.privacypolicy
{
	color: #AAAAAA;
}
.caption
{
	color: #AAAAAA;
}
DIV.button, DIV.clsActivationCode
{
	background-color: #959ca1;
}
DIV.buttonCancel
{
	background-color: #DADADA !important;
}
DIV.buttonMaintenance, DIV.buttonMaintenance1, DIV.buttonMaintenance2, DIV.buttonMaintenance3, DIV.buttonMaintenance4, DIV.buttonMaintenance5
{
 
}
DIV.buttonLink
{
	background-color: #959ca1;
}
DIV.button A,  DIV.clsActivationCode
{
	color: #FFFFFF;
	text-decoration: none;
}
DIV.buttonMaintenance A, DIV.buttonMaintenance1 A, DIV.buttonMaintenance2 A, DIV.buttonMaintenance3 A, DIV.buttonMaintenance4 A, DIV.buttonMaintenance5 A
{
	text-decoration: underline;
}
DIV.buttonCancel A
{
	color: #777777 !important;
}
DIV.buttonLink A
{
	color: #FFFFFF;
	text-decoration: none;
}
button.buttonLink 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #959CA1), color-stop(1, #73787C) );
	background:-moz-linear-gradient( center top, #959CA1 5%, #73787C 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#959CA1', endColorstr='#73787C');
	background-color:#959CA1;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #999999;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:12px 38px;
	text-decoration:none;
	text-transform:uppercase;
}
button.buttonLink:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #959ca1), color-stop(1, #959ca1) );
	background:-moz-linear-gradient( center top, #959ca1 5%, #959ca1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#959ca1', endColorstr='#959ca1');
	background-color:#959ca1;
}
button.buttonLink.cancel:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #cccacc) );
    background:-moz-linear-gradient( center top, #eeeeee 5%, #cccacc 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccacc');
    background-color:#eeeeee;
}
button.buttonLink:active 
{
	position:relative;
	top:1px;
}
button.buttonLink.print
{
}
button.buttonLink.enroll
{
	padding:12px 28px;
}
button.buttonLink.cancel
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #cccacc) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #cccacc 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccacc');
    background-color:#ffffff;
    color:#706e70;
	padding:12px 28px;
}
button.buttonLink.continue
{
}
DIV.clsTextBanking, DIV.clsMobileBanking
{
	border: 1px solid #CCCCCC;
	background: #F7F7F7; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F7F7F7,  #FFFFFF); /* for firefox 3.6+ */ 
}
DIV.clsPhoneMaintenance
{
	background-color: #FFFFFF;
	border-top: 1px solid #CCCCCC;
}
DIV.clsTextBanking SPAN.clsStrong, DIV.clsMobileBanking SPAN.clsStrong
{
    color: #000000;
}
DIV.indicatorOff
{
    background-color: #6D93A9;
}
SPAN.clsIndicator
{
    color: #73C267;
}
SPAN.clsStrong, SPAN.clsStrongSmall
{
	color: #5E5E5E;
}
DIV#stepContent SPAN.clsStrong
{
	color: #5E5E5E;
}	
DIV#activatePhone SPAN.clsStrong, DIV#activateTablet SPAN.clsStrong 
{
	color: #73787C;
}
SPAN.clsPhoneNum
{
	color: #000000;
	font-weight: bold;
	font-size: 14px;
}
SPAN.clsServicesDisabled
{
    color: #FF0000;
}
TABLE.clsBorder { 
    border: 1px solid #808080; 
    background-color: #E3E3E3;
    color: #333333
}
TABLE TD.clsStrong
{
	color: #73787C;
}
TABLE TD.symbol
{
	color: #73C267;
}
TABLE.clsHeaderSteps TD.clsStepLeft, TABLE.clsHeaderSteps TD.clsStepCenter, TABLE.clsHeaderSteps TD.clsStepRight, TABLE.clsHeaderSteps TD.clsStep
{
    background-color: #FFFFFF;
    color: #CCCCCC
}
TABLE.clsHeaderSteps TD.clsStepCenter
{
 
}
TABLE.clsHeaderSteps TD.clsStepRight
{
 
}
DIV#hdrStepBorder DIV.clsIndicatorOn
{
    background-color: #73787C;
}
DIV#hdrStepBorder DIV.clsIndicatorOff
{
    background-color: #CCCCCC;
}
TABLE.clsHeaderSteps TD.clsBorder
{
 
}
TABLE.clsHeaderSteps H1
{
	font-size: 10px;
}
TABLE.clsHeaderSteps TD.clsIndicatorOn
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E6E8', endColorstr='#F4F9FC'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#E5E6E8), to(#F4F9FC)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #E5E6E8,  #F4F9FC); /* for firefox 3.6+ */ 
	color: #000000;
}
TABLE.clsHeaderSteps TD.clsIndicatorOff
{
	background-color: #FFFFFF;
}

TABLE.clsHeaderSteps TD.clsStepLeft SPAN, TABLE.clsHeaderSteps TD.clsStepCenter SPAN
{
	font-size: 16px;
	font-weight: bold;
}	
TABLE.form SPAN.clsCode
{
	
}
TABLE.form SPAN.clsExpiry
{
	color: #FF0000;
}
TABLE.form SPAN.clsActivationCode
{
	font-weight: bold;
}
TABLE.form TD
{
	color: #5E5E5E;
}
TABLE.form TD.symbol
{
	color: #73C267;
}
TABLE.form TD.legal
{
	color: #000000;
} 
TABLE.form TD.copyright
{
	color: #AAAAAA;
}
TABLE.form TD.privacypolicy
{
	color: #AAAAAA;
}
TABLE.form TD H1
{
	color: #666666;
	font-size: 16px;
	font-weight: bold;
}
TABLE.option
{
	border: 1px solid #AAAAAA;
}
TABLE.form TD.option, TABLE.modesform TD.option
{
	background-color: #EEEEEE;
}
TABLE.form TD.optionSelected
{
	background-color: #E5E6E8;
}	
/* ******************* Id Selectors ******************* */
#content,
#content_cc
{
	background-color: #FFFFFF;
}
#container {
	background-color: #FFFFFF;
}
#outerContainer {
	background-color: #FFFFFF;
}
#errorDiv
{
	color: red;
}
#hdr_bg,
#hdr_cc_bg
{
    background-color: #EEEEEE;
    border-bottom: #BBBBBB 5px solid;
}
#hdrBankHeader H1
{
	color: #5E5E5E;
}
#hdrBankHeader SPAN
{
	color: #999999;
}
#hdrBankHeader SPAN.clsFAQ
{
	color: #6D93A9;
}
#hdrStepBorder
{
    background-color: #BBBBBB;
}
.hdrStepBorderLeft, .hdrStepBorderCenter, .hdrStepBorderRight 
{

}
#stepContent1 P, #stepContent2 P, #stepContent3 P, #stepContent4 P
{
	color: #5E5E5E;
}
#stepContent1 SPAN.clsStrong, #stepContent2 SPAN.clsStrong, #stepContent3 SPAN.clsStrong, #stepContent4 SPAN.clsStrong
{
	color: #000000;
}
#tAndC
{
    color: #5E5E5E;
    background-color: #FFFFFF;
    border: 1px solid #666666;
    padding: 10px;
}
HR 
{
	color: #CCCCCC;
}

/***************************************************************************************************************
 ***************************************************************************************************************
 ***************************************************************************************************************
 * This marks the end of the default CSS rules in this file. Anything after this comment is a customization
 * (please see the top of this file for details).
 ***************************************************************************************************************/
 